#admin-menu a.nav-link {
	border: none;
}

#admin-menu a.nav-link:hover {
	color: #70BEB1!important;
}

#icons-loader {
    line-height: 3;
}

#icons-loader i {
	font-size: 25px;
}

.report-warn {
	color: #FFF;
	background-color: #F80;
}

.report-ban, .room-delete {
	color: #FFF;
	background-color: #C00;
}

.room-activate {
	color: #FFF;
	background-color: #00C851;
}